<p id="notice"><%= notice  %></p>

<p>
  <b>名称:</b>
  <%= @blog.name %>
</p>

<p>
  <b>标题:</b>
  <%= @blog.title %>
</p>

<p>
  <b>内容:</b>
  <%= @blog.content %>
</p>
 <p>
   <b>标签：</b>
    <%= join_tags @blog %>  
 </p>
<H2>评论列表</H2>
<%= render @blog.comments %>
<h2>添加评论:<h2>
<%= form_for([@blog,@blog.comments.build]) do |f| %>
<div class="field">
	<%=f.label "主题" %><br/>
	<%=f.text_field :commenter %>
</div>
<div class="field">
        <%=f.label "内容" %><br/>
        <%=f.text_field :body %>
</div>
<div class="actions">
 <%= f.submit  "提交" %>
</div>
<% end %>
<%= link_to "编辑", edit_blog_path(@blog) %> |
<%= link_to '返回', blogs_path %>
