<%= form.fields_for :tags do |f| %>
	<div class="field">
		<%= f.label :name, '标签：' %>
		<%= f.text_field :name  %>
	</div>
	<% unless f.object.nil? || f.object.new_record? %>
    <div class="field">
      <%= f.label :_destroy, '移除:' %>
      <%= f.check_box :_destroy %>
    </div>
  <% end %>
<% end %> 
